.container
  %h1 Dashboard
  .new-ambassador
    = link_to 'Create New Ambassador', new_ambassador_path
  .list-ambassadors
    = link_to 'View Ambassadors', ambassadors_path
  .manage-exploding-dots-chapters
    = link_to 'Manage Exploding Dots Chapters', exploding_dots_chapters_path
  - if current_user.admin?
    .list-ambassadors
      = link_to 'Create New User', new_user_path
