.container
  .row.mb-5
    .col-sm-12
      %h1.text-center Editing Ambassador
  .row
    .col-md-6.offset-md-3
      = render 'form'

      = link_to 'Show', @ambassador
      \|
      = link_to 'Back', ambassadors_path
