// Place all the styles related to the Ambassadors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ambassador-application {
  background: -webkit-linear-gradient($white 0%, $gray 100%);
  background: -o-linear-gradient($white 0%, $gray 100%);
  background: linear-gradient($white 0%, $gray 100%);
  padding-bottom: 5rem;

  .ambassador-header {
    margin-bottom: 3rem;

    &::before {
      content: image-url('wreath-start.svg');
      position: relative;
      top: 17px;
    }

    &::after {
      content: image-url('wreath-end.svg');
      position: relative;
      top: 17px;
    }
  }
}

.ambassador-profile-photo {
  border-radius: 50%;
  height: 150px;
  margin: 25px 0 0;
  overflow: hidden;
  width: 150px;
}

.ambassador-profile-photo-crop-preview {
  border-radius: 50%;
  height: 150px;
  overflow: hidden;
  width: 150px;
}
