@import 'bootstrap';
@import 'variables';
@import 'ambassadors';
@import 'base';
@import 'datatables';
@import 'chosen';

body {
  padding: 5rem 0 0;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.chosen-container-single .chosen-search {
  background: none;
}
