.container
  .row.mb-4
    .col-sm-12
      %h1 Editing Exploding Dots Chapter
  .row
    .col-md-8.offset-md-2
      .card
        .card-body.pt-5
          = render 'form'
          = link_to 'Show', @chapter
          \|
          = link_to 'Back', exploding_dots_chapters_path
