%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{ href:"/" }Global Math Project
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggle", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarToggle.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{href: "https://www.globalmathproject.org"}Return To Main Site
      %li.nav-item= link_to "Dashboard", root_path, class: 'nav-link' if current_user
      %li.nav-item= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' if current_user
